<!DOCTYPE html>
<html>
<head>
  <title>Server Assignment Completed</title>
</head>
<body>

<h1>Site assignment Completed</h1>

Successfully wrote to: {{ filename }}
<br><br>
File contents are:<br>
{{ file_contents | replace("\n", "<br>") }}

</body>
</html>
